flytekit==1.16.14
flytekitplugins-ray==1.16.14
flytekitplugins-mlflow==1.16.14
ray[train]==2.54.0
fsspec==2024.6.1
s3fs==2024.6.1
flaml==2.5.0
mlflow==3.10.1
lightgbm==4.6.0
tqdm==4.67.3
onnx==1.20.1
