# =========================
# Core ML
# =========================
flaml==2.5.0
lightgbm==4.6.0
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3

# =========================
# Distributed training
# =========================
ray[train,data]==2.54.0

# =========================
# ONNX
# =========================
onnx==1.20.1
onnxmltools==1.16.0
onnxruntime==1.24.4

# =========================
# Data / Storage (IMPORTANT)
# =========================
pyarrow==23.0.1

# Keep fsspec stack for parquet + ray compatibility
fsspec==2026.2.0
s3fs==2026.2.0

# AWS SDK (control plane only)
boto3==1.42.81
botocore==1.42.81

# =========================
# Orchestration
# =========================
flytekit==1.16.15
flyteplugins-ray==2.0.6

# =========================
# Tracking
# =========================
mlflow==3.10.1